################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ECTPEntityFramework
/packages
/ECTPEntityFramework/bin/
/ECTPEntityFramework/obj/Debug/
