################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ECTPEntityFramework
/ECTPEntityFramework/bin
/ECTPEntityFramework/obj/Debug
/packages
